FILTER_REGEX_EXCLUDE=
MARKDOWN_CONFIG_FILE=
PROTOBUF_CONFIG_FILE=
SHELLCHECK_OPTS=
TYPESCRIPT_ES_CONFIG_FILE=
VALIDATE_ALL_CODEBASE=
VALIDATE_BASH=
VALIDATE_BASH_EXEC=
VALIDATE_CSS=
VALIDATE_EDITORCONFIG=
VALIDATE_GITHUB_ACTIONS=
VALIDATE_GITLEAKS=
VALIDATE_GIT_MERGE_CONFLICT_MARKERS=
VALIDATE_JSCPD=
VALIDATE_JSON=
VALIDATE_MARKDOWN=
VALIDATE_PROTOBUF=
VALIDATE_PYTHON_RUFF=
VALIDATE_SHELL_SHFMT=
VALIDATE_TOML=
VALIDATE_TYPESCRIPT_ES=
VALIDATE_YAML=